[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.22.0"
Markdown = "~=3.2.2"
Jinja2 = "~=2.11.2"
slug = "~=2.0"
tqdm = "~=4.48.2"

[dev-packages]

[requires]
python_version = "3.8"
